/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.docker
/.gitconfig
/.gnupg
/.kube
/.lesshst
/.local
/.minikube
/.motd_shown
/.profile
/.redhat
/.sudo_as_admin_successful
/.vscode-remote-containers
/.vscode-server
/.wget-hsts
/kubectl
/kubectl.sha256
/.aws
/.azure